* {
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	background-size: cover;
}

.column a {
	text-decoration: none;
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-size: 30px;
}


/* The grid: Three equal columns that floats next to each other */

.row {
	/*
	width: 100%;
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
*/
}

.column {
	height: 100px;
	width: 30vh;
	margin: 20px;
	padding: 0px;
	text-align: center;
	cursor: pointer;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 22px 0px black;
}


/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	display: block;
	/* Initially show all columns */
}



.keyboard {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	text-decoration: none;
	color: #07b92a;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #07b92a;
	position: relative;
	transition: 0.3s;
	background-color: #ffffff;
}

.keyboard::before {
	content: "KEYBOARD";
	display: block;
	font-size: 13px;
	background-color: blue;
	color: #fff;
	border-radius: 3px;
	padding: 3px 5px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-5px, -30%);
	transition: .3s;
}

.keyboard:hover::before {
	transform: translate(-5px, -50%);
}

.mouse {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	text-decoration: none;
	color: #07b92a;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #07b92a;
	position: relative;
	transition: 0.3s;
	background-color: #ffffff;
}

.mouse::before {
	content: "MOUSE";
	display: block;
	font-size: 13px;
	background-color: yellow;
	color: black;
	border-radius: 3px;
	padding: 3px 5px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-5px, -30%);
	transition: .3s;
}

.mouse:hover::before {
	transform: translate(-5px, -50%);
}

.choice {
	min-width: 130px;
	height: 40px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	border: 2px solid #2c0b8e;
	background: gray;
}

.choice:hover {
	background: #fff;
	color: #2c0b8e
}

@media screen and (max-width:900px) {
	.column {
		width: 90%;
	}
	.column a {
		font-size: 30px;
	}
	/*
		.row {
		width: 100%;
		margin: 0px;
		position: none;
		top: none;
		left: none;
		transform: none;
	}
*/
}

#keyboard {
	background-color: saddlebrown;
}

#keyboard {
	background-color: saddlebrown;
}



.desktop-message {
	display: none;
	text-align: center;
	padding: 20px;
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	border-radius: 5px;
	margin: 10px;
}


/* Media query to show the message on screens with a min-width of 768px (typical for desktop/laptop screens) */

@media screen and (max-width:1200px) {
	.column {
		width: 90%;
	}
	.column a {
		font-size: 20px;
	}
	.row {
		width: 100%;
		display: none;
		/*
		margin: 0px;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
*/
	}

	.desktop-message {
		display: block;
	}
}