   .body {
      font-family: 'Fira Sans', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      margin: 0;
    }

    .container {
      text-align: center;
		
    }

    .alpha-grid {
      display: grid;
      grid-template-columns: repeat(6, 100px);
      grid-gap: 2vh;
      margin-top: 20px;
    }

    .number {
      width: 60px;
      height: 60px;
      background-color: black;
      border-radius: 10%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: yellow;
      font-size: 30px;
      font-weight: bold;
    }